.qie{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.tou{
	height: 80px;
	width: 120px;
	background-color: #000;
	border-radius: 60px 60px 0px 0px/60px 60px 0px 0px;
	position: relative;
}
.eye_1,.eye_2{
	width: 20px;
	height: 30px;
	background-color:#fff;
	border-radius:10px 10px 10px 10px/15px 15px 15px 15px;
}
.eye_1{
	position: absolute;
	left: 30px;
	top: 25px;
}
.eye_2{
	position: absolute;
	left: 70px;
	top: 25px;
}
.eye_1_1{
	height: 13px;
	width: 10px;
	background-color:#000;
	border-radius: 5px 5px 5px 5px/6px 6px 6px 6px ;
	position: absolute;
	left: 4px;
	top: 10px;
}
.eye_2_1{
	height: 6px;
	width: 15px;
	background-color: #000;
	border-radius:7px 7px 0px 0px/6px 6px 0px 0px ;
	position: absolute;
	left: 2px;
	top: 12px;
}
.eye_2_2{
	height: 6px;
	width: 13px;
	background-color: #fff;
	border-radius:6px 6px 0px 0px/6px 6px 0px 0px ;
	position: absolute;
	left: 3px;
	top: 14px;
}
.zui{
	height: 20px;
	width: 72px;
	background-color: #ffad00;
	border-radius:36px 36px 36px 36px/8px 8px 12px 12px ;
	position: absolute;
	left: 25px;
	top: 58px;
}
.tou_2{
	height: 10px;
	width: 120px;
	background-color: #000;
	border-radius:0px 0px 62px 62px/0px 0px 10px 10px ;
	position: absolute;
	z-index: 3;
	top: 80px;
}
.weijin{
	position: relative;
	z-index: 2;
}
.weijin_left{
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width:10px 5px ;
	border-color: transparent #e91f1f #e91f1f transparent;
	position: absolute;
	left:-9px;
}
.weijin_content{
	height: 20px;
	width: 120px;
	background-color:#E91F1F ;
}
.weijin_right{
	height: 0px;
	width: 0px;
	border-style: solid;
	border-width:10px 5px ;
	border-color: transparent transparent #e91f1f #e91f1f ;
	position: absolute;
	left:120px;
	bottom: 0px;
}
.weijin_bottom{
	height: 10px;
	width: 140px;
	position: absolute;
	background-color: #E91F1F;
	border-radius:0px 0px 70px 70px/0px 0px 10px 10px ;
	left:-10px;
}
.weijin_1{
	height: 30px;
	width: 24px;
	position: absolute;
	background-color: #E91F1F;
	left:25px;
}
.body{
	height: 85px;
	width: 120px;
	position:relative;
	background-color: #000;
	border-radius: 0px 0px 60px 60px/0px 0px 50px 50px;
	left:1px;
	z-index: 1;
}
.duzi{
	height: 78px;
	width: 90px;
	position:absolute;
	background-color: #fff;
	border-radius: 0px 0px 40px 40px/0px 0px 45px 45px;
	left:15px;
	z-index:4px;
}
.hand{
	height: 54px;
	width: 20px;
	position:absolute;
	background-color: #000;
	border-radius: 18px 0px 18px 2px/52px 0px 28px 2px;
	left:-18px;
	top: -4px;
	z-index:4px;
}
.hand_2{
	height: 54px;
	width: 20px;
	position:absolute;
	background-color: #000;
	border-radius: 0px 18px 2px 18px/0px 52px 2px 28px;
	right:-18px;
	top: -4px;
}
.footer{
	height: 16px;
	width: 120px;
	background-color: #fcb117;
	border-radius:40px 40px 3px 3px/13px 13px 2px 2px;
	position: relative;
	left:2px;
	bottom: 16px;
}